.skills {
  padding: var(--padding-5rem) 0;
  background-color: var(--bg-clr-alt);
  overflow: hidden;
}
.skills__content {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.skills__left {
  flex: 2;
}
.skills__leftWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}
.skill__icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}
.skill__icon h2 {
  font-size: var(--font-size-20);
  color: var(--fff-clr);
  font-weight: var(--font-light);
}
.skill__icon img {
  max-height: 32px;
  object-fit: contain;
}
.skills__right {
  flex: 1;
  position: relative;
}
.skills__imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__imgWrapper img {
  width: 100%;
  object-fit: contain;
  animation: float 3s linear infinite alternate;
}

@keyframes float {
  to {
    transform: translateY(-20px);
  }
}

@media (max-width: 567px) {
  /* .skills__right {
    display: none;
  } */
  .skills__leftWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
}
